.author-link {
    font-family: 'Special Elite', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
    -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
a {
    color: white;
}
a:hover {
    color: light-grey;
}

h1 {
    font-size: 26px;
}

.descrip {
    margin-top: 5%;
    margin-left: 10%
    margin-right: 15%;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*///////////////////////SOCIAL BUTTONS////////////////////////////////////////*/
.mobile-buttons{
    visibility: hidden;
}
.buttons-center {
    margin-bottom: 30px;
}

#social-buttons button {
    color: white
}
.btn-github {
    background: #444444;
    border-color: black;
}
.btn-facebook {
    background: #4868ac;
    border-color: #314776;
}
.btn-pinterest {
    background: #b62f26;
    border-color: #b62f26;
}
.color-green{
    background-color: #5B6C56;
    border-color: black;
}


/*/////////////////////////////////////////////////////////////////////////*/


.fullpage {
    background-color: grey;
    height: 86vh;
    width: 100vw;
}


.halfheight{
    height: 50%;
}
/*///////////////////////IMAGES////////////////////////////////////////*/
.img1 {
    background-image: url('../images/margaret_atwood.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img2 {
    background-image: url('../images/siri_hustvedt.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img3 {
    background-image: url('../images/rosa_montero2.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img4 {
    background-image: url('../images/isabel_allende.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img5 {
    background-image: url('../images/sylvia_plath.jpeg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img6 {
    background-image: url('../images/zadie_smith.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img7 {
    background-image: url('../images/alison_bechdel.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.img8 {
    background-image: url('../images/virginia_woolf.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}


/*//////////////////////////////////////////////////////////////////////*/
.mobileheight {
    position: relative;
}

.authorheader {
    position: absolute;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.navbar-brand {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

/*////////////////////////MOBILE CHANGES//////////////////////////////////////////*/
@media only screen and (max-width: 768px) {
    .mobileheight {
        height: 100vh;
    }

    .halfheight {
        height: auto;
    }
    .buttons-center {
        margin-bottom: 20px;
        transform: translate(18%, 20%);
    }
    .desktop-buttons {
        visibility: hidden;
    }
    .mobile-buttons{
        visibility: visible;
    }

    h1 {
        font-size: 36px;
    }

    .descrip{
        margin-top: 0%
    }
}
